@use "mixins";

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1150;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: mixins.em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: mixins.em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: mixins.em(767.98); // Телефоны L
$mobileSmall: mixins.em(479.98); // Телефоны S

//Шрифт по умолчанию
$fontFamily: "Barlow", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$fontSize: 18px;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

$primaryColor: #ffffff;
$secondaryColor: #ffffff;
$themeColor: #E8C300;


